<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="tabs is-centered">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contacts">Contacts</a></li>
        <li><a href="/groups">Groups</a></li>
        <li><a href="/addresses">Addresses</a></li>
        <li><a href="/profiles">Profiles</a></li>
        <li><a href="/addresses_with_contact">Addresses with Contacts</a></li>
      </ul>
    </div>
