<div class="tabs is-toggle is-fullwidth">
  <ul>
    <li >
      <a href="/">
        <span>Home</span>
      </a>
    </li>
    <li >
      <a href="/contacts">
        <span>Contacts</span>
      </a>
    </li>
    <li >
      <a href="/groups">
        <span>Groups</span>
      </a>
    </li>
    <li >
      <a href="/profile">
        <span>Profile</span>
      </a>
    </li>
    <li >
      <a href="/addresses">
        <span>Addresses</span>
      </a>
    </li>
  </ul>
</div>
