<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <% data.forEach(row => { %>
    <form class="" action="/addresses/edit/<%=row.id%>" method="post">
        <input type="text" name="street" value="<%=row.street%>" >
        <input type="text" name="city" value="<%= row.city%>" >
        <input type="text" name="zipcode" value="<%= row.zipcode%>" >
        <input type="submit" name="" value="SUBMIT">
    </form>
  <%})%>

  </body>
</html>
