<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Group name: <%= dataJsonGroups[0].name_of_group %></h1>
  <form action="/groups/contacts/<%= dataJsonGroups[0].id %>" method="post">
    <select name="id_contacts">
      <% for(let i = 0; i < dataJsonContacts.length; i++){ %>
        <option value="<%= dataJsonContacts[i].id %>"><%= dataJsonContacts[i].name %></option>
      <% } %>
    </select>
    <br><br>
    <input type="submit"value="Submit">
  </form>
</body>
</html>
