<!DOCTYPE html>
<html>
<head>
	<title>Edit Address</title>
</head>
<body>
	<form action="/addresses/edit/<%=address.id%>" method="post">
  		<input type="text" name="street" value="<%=address.street%>">
  		<input type="text" name="city" value="<%=address.city%>">
  		<input type="text" name="zipcode" value="<%=address.zipcode%>">
  		<input type="submit" value="Submit">
	</form> 
</body>
</html>