<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Addresses</title>
  </head>
  <body>
    <form class="" action="/addresses/edit/<%=rowAddresses.ID%>" method="post">
      <td>City <input type="text" name="city" value="<%=rowAddresses.city%>"></td>
      <td>Street <input type="text" name="street" value="<%=rowAddresses.street%>"></td>
      <td>Zipcode <input type="text" name="city" value="<%=rowAddresses.zipcode%>"></td>
      <td> <input type="submit" value="Submit Edit!"></td>
    </form>
  </body>
</html>
