<!DOCTYPE html>
<html>
<head>
	<title>Edit Group</title>
</head>
<body>
	<form action="/groups/edit/<%=group.id%>" method="post">
  		<input type="text" name="name_of_group" value="<%=group.name_of_group%>">
  		<input type="submit" value="Submit">
	</form> 
</body>
</html>