<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Group</title>
  </head>
  <body>
    <form class="" action="/groups/edit/<%=rowGroups.ID%>" method="post">
      <td>Group's Name <input type="text" name="name_of_group" value="<%=rowGroups.name_of_group%>"></td>
      <td> <input type="submit" value="Submit Edit!"></td>
    </form>
  </body>
</html>
