<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Profile</title>
  </head>
  <body>
    <form class="" action="/profiles/edit/<%=rowProfiles.ID%>" method="post">
      <td>City <input type="text" name="city" value="<%=rowProfiles.username%>"></td>
      <td>Street <input type="text" name="street" value="<%=rowProfiles.password%>"></td>
      <td> <input type="submit" value="Submit Edit!"></td>
  </body>
</html>
