<html>

<head>
    <title>
        Add Data Group
    </title>
</head>

<body>
    <header>
        <h3> Add Data Group</h3>
    </header>
    <div class="add-data">
        <form action="/groups/add" method="POST">
            Name of Group : <br>
            <input type=" text " name="name_of_group" /> <br>

            <input type="submit" value="Save" />
        </form>
    </div>
</body>

</html>