<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Groups</title>
  </head>
  
  <body>
    <table>
      <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
        </tr>
      </thead>
      <tbody>
        <%groupsData.forEach( (group) => { %>
          <tr>
            <td> <%= group.ID %> </td>
            <td> <%= group.name_of_group%> </td>
            <td> <a href="/group/edit/<%=group.ID%>">EDID</a></td>
            <td> <a href="/group/delete/<%=group.ID%>">DELED</a></td>
          </tr>
          <%})%>
      </tbody>
    </table>
    <form action="/groups" method="post">
      <table>
        <thead>
          <tr>
            <td>Add New Group</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Group Name</td>
            <td>:</td>
            <td><input type="text" name="name_of_group" value=""></td>
          </tr>
          <tr>
            <td colspan="3"><input type="submit" value="Add"></td>
          </tr>
        </tbody>
      </table>
    </form>
  </body>
</html>