<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Menampilkan semua data groups</title>
  </head>
  <body>
    <a href="/contacts">contacts</a> | <a href="/groups">groups</a> | <a href="/addresses">address</a> | <a href="/profiles">profile</a>
    <h1>Menampilkan semua data groups</h1>
    <div>
    <table>
      <tr>
        <th>id</th>
        <th>name_of_group</th>
      </tr>
      <!-- tampilkan semua data contacts -->
      <% rows.forEach (group => { %>
        <tr>
          <td><%= group.id %></td>
          <td><%= group.name_of_group %></td>
          <td><a href="/groups/edit/<%= group.id %>">edit</a> | <a href="/groups/delete/<%= group.id %>">delete</a> </td>
        </tr>
      <% }) %>
      
    </table>
  </div>
  
  <!-- disini tambah form untuk tambah contacts -->
  <div>
    <h2>Tambah Groups</h2>
    <form class="" action="" method="post">
      Nama Group:   <input type="text" name="name_of_group" value="" placeholder="name_of_group"><br>
      <input type="submit" name="" value="KIRIM">
    </form>
  </div>
  
  </body>
</html>

