<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contacts</title>
  </head>
  <body>
    <table border="1">
      <tr>
        <td> <strong> ID </strong> </td>
        <td> <strong> Groups </strong> </td>
        <td> <strong> Nama </strong> </td>
      </tr>
    <%rowsGroups.forEach(function(list){%>
      <tr>
        <td> <%= list.id %> </td>
        <td> <%= list.name_of_group %> </td>
        <td> <a href="/groups/edit/<%= list.id %>" > Edit </td>
        <td> <a href="/groups/delete/<%= list.id %>" > Delete </td>
      </tr>
    <% }) %>
  </table>
  <br>
    <form class="" action="/groups" method="post">
      Group <br> <input type="text" name="name_of_group"> <br>
      <input type="submit" value="ADD"><br>
    </form>
  </body>
</html>
