<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/group/edit/<%=data[0].id%>" method="POST">
      <input type="text" name="name_of_group" placeholder="Name" value="<%=data[0].name_of_group%>">
      <button type="submit" name="submit">Submit</button>
    </form>
  </body>
</html>
