<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Groups</title>
  </head>
  <body>
    <div class="">
      <form class="" action="" method="post">
        <input type="text" name="nama" value="<%=rowGroup.name_of_group%>">
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
