<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="assets/bulma.min.css" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/style.css">

  <title>CONTACT-GROUPS</title>
</head>
<body>

  <ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/contacts">Contacts</a></li>
    <li><a href="/groups">Groups</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/addresses">Addresses</a></li>
  </ul>

  <div class="container" >
    <h4 class="title is-3" style="text-align:center;">EXPRESS CONTACTS - GROUPS</h4>
    <p class="subtitle is-4" style="text-align:center;">all <strong>Groups</strong> information | <span class="button tag is-success">add groups</span> </p>
    <table class="table">
    <thead>

        <tr>
          <th><abbr title="id"></abbr>ID</th>
          <th>NAME OF GROUP</th>
          <th><abbr title="actions">ACTIONS</abbr></th>
        </tr>

    </thead>
    <tbody>
      <%for(let i=0; i<data_Groups.length; i++){%>
      <tr>
        <th><%=data_Groups[i].id%></th>
        <td><strong><a href="#." title="full name" class="is-success"><%=data_Groups[i].name_of_group%></a></strong>
        </td>
        <td style="margin-left:-5px;">
              <a class="button is-info is-outlined is-small" href='/groups/edit/<%=data_Groups[i].id%>'>
              <span class="icon is-small">
                <i class="fa fa-pencil"></i>
              </span>
              <span>Edit</span>
              </a>
              <a onclick="myFunction()" class="button is-danger is-outlined is-small" href="/groups/delete/<%=data_Groups[i].id%>">
              <span class="icon is-small">
                <i class="fa fa-times"></i>
              </span>
              <span>Delete</span>
              </a>
          </td>
      </tr>
      <%}%>
    </tbody>
  </table>
  <hr>
  <form action="/groups" method="post">
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="name_of_group" name="name_of_group">
        </div>
      </div>
      <div class="control">
        <button type="submit" class="button is-success">Submit</button>
      </div>
    </div>
  </form>

</div>

  </div>


  <script>
        function myFunction() {
          confirm("are you sure?!");
          // swal ( "Oops" ,  "Something went wrong!" ,  "error" )
          swal({
            icon: "success",
          });
        }
  </script>
</body>
</html>
