<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GROUPS</title>
  </head>
  <body>
    <% for(let i=0;i<rowContacts.length;i++){ %>
      <%=rowContacts[i].ID%>
      <%=rowContacts[i].name_of_group%>
      <br>
      <%}%>
      <form class="" action="/groups" method="post">
        <td>Group's Name <input type="text" name="name_of_group" value=""></td>
        <td> <input type="submit" name="" value="Submit!"></td>
      </form>

  </body>
</html>
