<!DOCTYPE html>
<html>
  <% include ./partial/head.ejs %>
  <body>
    <div class="container">
      <div class="row">
        <div class="one-half column" style="margin-top: 10%">
          <h2>HOME PAGE</h2>
          <p>Express Contacts Groups</p>
        </div>
      </div>
      <% include ./partial/menu.ejs %>
    </div>
  </body>
</html>
