<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <br>
    <a href="/contacts">Contacts</a><br>
    <a href="/address">Address</a><br>
    <a href="/profile">Profile</a><br>
    <a href="/groups">Group</a><br>
    <a href="/addresses_with_contact">Address With Contact</a>
  </body>
</html>
