<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <nav>
        <a href="/results/top5"> Top5 </a> &nbsp;&nbsp;
        <a href="/voters"> Voters </a> &nbsp;&nbsp;
        <a href="/results/analyzed"> Analisa kecurangan </a>
    </nav>
  </body>
</html>
