<!DOCTYPE html>
<html>

<head>
  <title>R&P - Studio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

  <!-- Custome CSS -->
  <link rel="stylesheet" href="assets/css/custom/style.css" type="text/css">

</head>

<body>
  <!-- Header -->
  <header>
    <div id="menu">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-md-4 col-sm-12">
            <div class="logo">
              <a href="index.html">
                <img src="assets/img/logo.png" alt="rnp-studio-logo" class="img-fluid">
                <span><h2 class="studio">Studio</h2></span>
              </a>
            </div>
          </div>
          <div class="col-xl-8 col-md-8 col-sm-12">
            <nav>
              <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/contacts">CONTACTS</a></li>
                <li><a href="/groups">GROUPS</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div id="cover">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="cover-content">
              <div class="row">
                <div class="col">
                  <h1 class="circle">Affordable <br />Professional <br /> Websites</h1>
                </div>
                <div class="col">
                  <a href="#about" class="btn btn-primary" id="more"><h3>Let's See More!</h3></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- End Header -->

  <section id="service">

  </section>

  <footer>
    Copyright &copy 2017 - Riski Nugroho Putra
  </footer>
</body>

</html>
