<!DOCTYPE html>
<html>
  <head>
    <%include ./partials/head%>
    <title>Home</title>
  </head>
  <body>
    <%include ./partials/menu%>
    <!-- <%include ./partials/contents%> -->
    <!-- ------------START CONTENTS---------------- -->
    <div class="hero-body">
       <div class="container has-text-centered">
         <span class="icon is-large 48px">
          <i class="fa fa-gg fa-5x"></i>
        </span>
         <h1 class="title">
           Welcome
         </h1>
         <h2 class="subtitle">
           My Page CRUD Apps
         </h2>
       </div>
     </div>

    <!-- ------------END CONTENTS---------------- -->
    <%include ./partials/footers%>
  </body>
</html>
