<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INDEX</title>
  </head>
  <body>
    <p><a href="/contacts">Contacts</a></p>
    <p><a href="/groups">Groups</a></p>
    <p><a href="/profiles">Profile</a></p>
    <p><a href="/addresses">Addresses</a></p>
  </body>
</html>
