<html>

<head>
    <title>
        Welcome
    </title>
</head>

<body>
    <header>
        <h3>
            Welcome to Contact Group Express
        </h3>
    </header>
    <div class="menu">
        <a href="/contacts">
            Contact
        </a>
        <a href="/groups">
            Group
        </a>
        <a href="/profiles">
            Profile
        </a>
        <a href="/addresses">
            Address
        </a>
        
    </div>
</body>

</html>