<% %>
<!DOCTYPE html>
<html>
<head>
	<title>
		Index Contacs-Groups
	</title>
</head>
<body>
<h3></h3>
	<nav>
  		<a href="/contacts">Contacts</a> |
  		<a href="/groups">Groups</a> |
  		<a href="/profiles">Profiles</a> |
  		<a href="/addresses">Address</a>
  		<!-- <a href="/jquery/">Address with Contact</a> -->
	</nav> 
</body>
</html>