<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h1>Contacts App</h1>

    <ul>
      <li><a href="/contacts">Contacts</a></li>
      <li><a href="/groups">Groups</a></li>
      <li><a href="/addresses">Addresses</a></li>
      <li><a href="/profile">Profile</a></li>
    </ul>
  </body>
</html>
