<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Halaman Utama</title>
</head>
<style>
	.main-menu {
		text-align: center;
		background: crimson;
	}

	.main-menu ul li {
		display: inline-block;
		padding: 10px;
	}

	.main-menu ul li a {
		text-decoration: none;
		color: #fff;
		font-style: bold;
	}

	.main-menu ul li a:hover {
		font-style: normal;
		color: wheat;
	}
</style>
<body>
	<h1 style="text-align: center; text-transform: uppercase; color: darkblue; font-family: sans-serif;">Selamat datang di Yellow Pages</h1>
	<nav class="main-menu">
		<ul>
			<li><a href="/contacts">Contacts</a></li>
			<li><a href="/groups">Groups</a></li>
			<li><a href="/addresses">Addresses</a></li>
			<li><a href="/profiles">Profiles</a></li>
		</ul>
	</nav>
</body>
</html>