<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/groups">Groups</a></li>
    <li><a href="/addresses">Addresses</a></li>
</ul>