<html>

<head>
    <title>
        Add Profile
    </title>

</head>

<body>
    <header>
        <h3>
            Add Data Profile
        </h3>

    </header>

    <div class="add-data">
        <form action="/profiles/add" method="POST">
            username : <br>
            <input type="text" name="username" /> <br> Password : <br>
            <input type="text" name="password" /> <br>
            <br>

            <input type="submit" value="Save">
        </form>

    </div>
</body>

</html>