<html>

<head>
    <title>
        Add Profile
    </title>

</head>

<body>
    <header>
        <h3>
            Add Data Profile
        </h3>

    </header>
    <%= message%>
        <div class="add-data">
            <form action="/profiles/add" method="POST">
                Username : <br>
                <input type="text" name="username" /> <br> Password : <br>
                <input type="text" name="password" /> <br>
                <br>
                <select name="idContact">
                <% dataContact.forEach((contact)=>{ %>
                    <option value="<%=contact.id %>">
                        <%= contact.name %>
                    </option>
                <%})%>
                

               
            </select> <br>
                <br>
                <input type="submit" value="Save">
            </form>

        </div>
</body>

</html>