<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile page</title>
  </head>
  <body>
    <table>
      <tr>
        <form action="/Profile" method="post">
          <td><input type="text" name = "username" placeholder="ADD USERNAME"></td>
          <td><input type="text" name = "password"placeholder="ADD PASSWORD"></td>
          <td><button type="submit">SAVE</button></td>
        </form>
      </tr>
    </table>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>USERNAME</th>
        <th>PASSWORD</th>
      </tr>
      <% for(let i = 0;i<rows.length;i++){%>
        <tr>
          <td><%=rows[i].id%></td>
          <td><%=rows[i].username%></td>
          <td><%=rows[i].password%></td>
          <td><a href="/Profile/delete/<%= rows[i].id %>">delete</a></td>
        </tr>
      <%}%>
    </table>
  </body>
</html>
