<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="style/css/common.css">
    <title>Groups Page</title>
</head>
<body>
<section>
    <div class="header">Daftar Group</div>
    <div class="content">
        <%if(data.length === 0){%>
            <div class="empty">Data Kosong!</div>
        <%}else{%>
            <table border="1">
                <tr>
                    <td>No</td>
                    <td>Nama Group</td>
                    <td>Action</td>
                </tr>
                <%data.map((value,i)=>{%>
                <tr>
                    <td><%=i + 1%></td>
                    <td><%=value.name_of_group%></td>
                    <td>
                        <button type="button">Edit</button>
                        <button type="button">Hapus</button>
                    </td>
                </tr>
                <%})%>
            </table>
        <%}%>
    </div>
</section>
<section>
    <div class="header">Group Baru</div>
    <div class="content">
        <form action="/groups" method="post">
            <table border="1">
                <tr>
                    <td>Name of Group</td>
                    <td><input type="text" name="group" placeholder="Type your group name"></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Tambah"></td>
                </tr>
            </table>
        </form>
    </div>
</section>
</body>
</html>
