<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style/css/common.css">
    <title>Landing Page</title>
</head>
<body>
<section id="index-page">
    <div class="front">
        <span>ExpressJS Test Page</span>
        <ul class="link-list">
            <li><a href="/contacts">Contact</a></li>
            <li><a href="/groups">Group</a></li>
        </ul>
    </div>
</section>
</body>
</html>
