<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Groups</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
<% include ../partials/nav.ejs%>
    <h1>Groups</h1>

  <div class="container">
    <table class="table">
      <thead>
        <tr>
        <th>ID</th>
        <th>Name of Group</th>
        <th>Option</th>
      </tr>
      </thead>
      <tbody>
        <%dataGroups.forEach((item)=>{%>
          <tr>
          <td><%=item.id%></td>
          <td><%=item.name_of_group%></td>

          <td>
            <a href="/groups/edit/<%=item.id%>">Edit</a>
            <a href="/groups/delete/<%=item.id%>">Delete</a>
          </td>
        </tr>
        <%})%>
      </tbody>
    </table>


    <div class="container">
    <h3>Add Group</h3>
      <form class ="form" action="/groups" method="POST">
        <input id="name_of_group" type="text" name="name_of_group" placeholder="Name Of Group">
        <br>
      </div>
      <div class="col-xs-4 col-md-2">
        <br>
        <input type="submit" value ="Submit">
        </div>
    </div>
  </div>

  </body>
  <style>
  table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
  background-color: #fff;
}
table#t01 th {
  color: white;
  background-color: black;
}
  </style>
</html>
