<div class="menu">
  <a class="button button-primary" href="/">Home</a>
  <a class="button button-primary" href="/contacts">Contacts</a>
  <a class="button button-primary" href="/groups">Groups</a>
  <a class="button button-primary" href="/Profiles">Profiles</a>
  <a class="button button-primary" href="/addresses">Addresses</a>
</div>
