<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Contacts App</title>
  </head>
  <body>
    <h1>Edit Address</h1>

    <table>
      <thead>
        <tr>
          <th><a href="/">Home</a></th>
          <th><a href="/contacts">Contacts</a></th>
          <th><a href="/groups">Groups</a></th>
          <th><a href="/profiles">Profile</a></th>
          <th><a href="/addresses">Addresses</a></th>
        </tr>
      </thead>
    </table><br>

    <form class="" action="/addresses/edit/<%= dataAddress.id %>" method="post">
      Street:<br>
      <input type="text" name="street" value="<%= dataAddress.street %>"><br>
      <br>
      City:<br>
      <input type="text" name="city" value="<%= dataAddress.city %>"><br>
      <br>
      Zipcode:<br>
      <input type="text" name="zipcode" value="<%= dataAddress.zipcode %>"><br>
      <br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
