@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300");
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  min-width: 900px; }

#index-page {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: url("../../media/index.jpg"); }
  #index-page .front {
    left: 0;
    right: 0;
    top: 50%;
    margin: auto;
    width: 550px;
    position: relative;
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    #index-page .front span {
      color: #FFF;
      display: block;
      font-size: 55px;
      text-align: center;
      font-family: "Open Sans Condensed",sans-serif; }
    #index-page .front .link-list {
      margin: 0;
      padding: 0;
      padding: 5px;
      overflow: hidden;
      text-align: center;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      #index-page .front .link-list li {
        display: inline;
        list-style: none;
        padding-left: 10px;
        padding-right: 10px; }
      #index-page .front .link-list a {
        color: #FFF;
        font-size: 20px;
        position: relative;
        text-decoration: none;
        font-family: "Open Sans Condensed",sans-serif; }
      #index-page .front .link-list a::before {
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        width: 25%;
        height: 1px;
        content: "";
        margin: auto;
        position: absolute;
        background-color: #FFF;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s; }
      #index-page .front .link-list a:hover::before {
        opacity: 1;
        width: 100%; }

#index-page::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: radial-gradient(transparent, black); }

.other-page .header {
  width: 100%;
  height: 75px;
  background-color: #2a92dd;
  -webkit-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5); }
  .other-page .header span {
    top: 50%;
    color: #FFF;
    float: left;
    font-size: 35px;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    display: inline-block;
    font-family: "Roboto",sans-serif;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .other-page .header .link-list {
    top: 50%;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    .other-page .header .link-list li {
      list-style: none; }
.other-page .content {
  padding-top: 20px;
  padding-bottom: 20px; }
